@import "../variables.scss";

.sidelogo {
  width: 29vw;
  height: 100vh;
  position: sticky;
  top: 0px;
}
.rightcontainer {
  padding: 40px;
  width: 71vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.backbutton {
  color: $secondary;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  display: flex;
}
.logocontain {
  display: flex;
  justify-content: center;
  width: 60%;
}
.logo {
  width: 35px;
  height: 39px;
  background-color: white;
  margin-top: 20px;
}
.logohead {
  font-weight: 600;
  font-size: 20px;
  color: $logo-head;
  text-align: center;
  line-height: 27px;
  padding-left: 5px;
}

.close {
  text-align: right;
  color: #99999c;
  width: 20%;
  margin-top: 20px;
}
.heading {
  color: $primary;
  margin-top: 83px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}
.heading1 {
  color: $primary;
  margin-top: 83px;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
}

.papercontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paper {
  width: 450px;
  height: 64px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin-top: 16px;
  cursor: pointer;
}
.papercontent {
  color: $info;
  font-weight: 600;
  font-size: 14px;
}
.radio {
  width: 16px;
  height: 16px;
  color: $radio;
  margin: 4px;
}
.input {
  width: 450px;
  height: 64px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  font-size: 20px;
  background-color: whitesmoke;
  border-radius: 2px;
}
.label {
  color: $dark;
  font-weight: 600;
  font-size: 12px;
  margin: 14px 0;
}
.nextbutton {
  width: 255px;
  height: 50px;
  background: #3a6599;
  border: none;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 60px;
  cursor: pointer;
}

.content {
  display: flex;
  width: 450px;
  flex-direction: column;
  align-items: center;
}
.msg {
  width: 495px;
  height: 44px;
  color: $dark;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 40px;
}

.searchpaper {
  font-size: 16px;
  width: 450px;
  height: 42px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  display: "flex";
  border-radius: 2px;
}
.race {
  color: $dark;
  font-weight: 600;
  font-size: 14px;
  &:hover {
    color: blue;
  }
}
.raceclick {
  color: $info;
  font-size: 18px;
  font-weight: 600;
}
.ethnicityclick {
  color: $info;
  font-size: 14px;
  font-weight: 600;
}
.card {
  width: 450px;
  height: 64px;
  border: 1px solid rgba(33, 33, 33, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 14px;
  color: $dark;
  &:hover {
    background-color: $secondary;
  }
}
.reviewcard {
  width: 550px;
  box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(33, 33, 33, 0.1);
  display: flex;
  flex-direction: column;
  padding: 22px;
  border-radius: 2px;
  margin-top: 26px;
  .edit {
    display: flex;
    justify-content: right;
    width: 22px;
    height: 22px;
    margin-left: 30px;
  }
  .title {
    width: 90%;
    font-size: 16px;
    color: $gray;
    font-weight: 700;
    margin-top: 5px;
  }
  .paper {
    width: 100%;
    height: 64px;
    border: 1px solid rgba(33, 33, 33, 0.1);
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.05);
    border-radius: 2px;

    background-color: $light-gray;
    .label {
      font-size: 16px;
      font-weight: 600;
      color: $dark;
    }
  }
}
.termscontain {
  display: flex;
  width: 100%;
  margin-left: 30vw;
  align-items: center;
  .terms {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $dark;
    .linkto {
      color: blue;
      text-transform: unset;
      margin: 0 5px;
    }
  }
}
.link {
  color: $dark;
  font-weight: 400;
  font-size: 22px;
  span {
    color: $warning;
  }
}
.continue {
  width: 754px;
  height: 202px;
  border: 1px solid #e4d5c0;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  .text {
    color: $primary;
    font-weight: 600;
    font-size: 36px;
    line-height: 30px;
  }
}
.gohome {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $dark;
  margin-top: 90px;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}
.skip {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $dark;
  margin-top: 30px;
  cursor: pointer;
}
.profilepic {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  .preview {
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    font-size: 46px;
    color: $warning;
    background-color: $back-ground1;
  }
  .icon {
    width: 42px;
    height: 42px;
    position: relative;
    z-index: 1;
    bottom: 20px;
    right: 20px;
  }
}

.eventcard {
  display: flex;
  align-items: center;
  width: 450px;
  height: 84px;
  border: 1px dashed rgba(33, 33, 33, 0.1);
  box-shadow: 6px 12px 20px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  padding: 12px;
  .pic {
    width: 60px;
    height: 60px;
    margin-right: 16px;
    border-radius: 6px;
  }
  .Title {
    color: $eventTitle;
    font-weight: 700;
    font-size: 13px;
  }
  .contents {
    color: $eventdes;
    font-weight: 600;
    font-size: 12px;
  }
}
.buttonhold {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  .agency {
    width: 45%;
    background-color: $info;
    height: 39px;
    border: none;
    border-radius: 2px;
  }
  div {
    font-weight: 600;
    font-size: 14px;
    color: white;
    text-align: center;
    width: 10%;
    color: $dark;
    font-weight: 400;
    font-size: 16px;
  }
  .county {
    font-weight: 600;
    font-size: 14px;
    color: $info;
    width: 45%;
    background-color: #d2e3f7;
    height: 39px;
    border: none;
    border-radius: 2px;
  }
}
