$primary: #18315f;
$secondary: #a6a6a6;
$dark: #212121;
$warning: #c9ab81;
$info: #3a6599;
$light-blue: #082950;
$warning-light: rgba(201, 172, 130, 0.502);
$logo-head: #1e1f20;
$radio: #eec3d4;
$gray: #8e8e8e;
$light-gray: #f7f7f7;
$back-ground1: #f9f6f1;
$back-ground2: #fffaf4;
$eventdes: #aaaaaa;
$eventTitle: #444444;
$para: #6a6a6a;
$bg-home-serch: #f6f1eb;
$request-bg: #645f59;
$footer-text: #4d4d4d;
$view-btn: #e4d5c0;
$light-pink: #fbf4f7;
$light-gray2: #99999c;
